/* javascript-ex-3 - style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

.main_cnt{
  width: 100vw;
  height: 100vh;
  padding:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image : url('https://wallpapertag.com/wallpaper/full/4/f/c/154691-coding-background-1920x1080-for-ipad-pro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leaderboard_header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 50px;
  background: white;
}

.leaderboard_header .header_title {
  margin: 0px 100px;
}

.leaderboard_header p {
  margin-top: 20px;
  text-decoration: underline;
}

.trophy {
  width:100px;
  height:100px;
}

@media all and (max-width: 767px) {
  .trophy {
    display: none;
  }
}

.leaderboard_body {
  display: flex;
  justify-content: center;
}

.leaderboard_body ul.chart {
  padding: 50px 70px;
  border-radius: 20px;
  list-style:    decimal;
  background: white;
}

ul.chart li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  font-size: 25px;
  font-family: 'Secular One', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

ul.chart li>.fas {
  margin-right: 10px;
  color: #FFD700;
}
